* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.h-img {
    width: 100%;
    min-height: auto;
    max-height: 100vh;
}

.inputs {
    border: 2px solid #ccc;
    color: #000;
    font-size: 20px;
    font-family: cursive;
}

.inputs:hover {
    background-color: rgb(0, 0, 0);
    outline: transparent 2px solid;
    color: #fff;
    border: rgb(226, 37, 163) 2px solid;
    transition: all .4s;
}

.inputs:hover::placeholder {
    color: rgb(226, 37, 163);
    transition: all .4s;
}

.inputs:focus {
    background-color: rgb(0, 0, 0);
    color: #fff;
    transition: all .4s;
}

.inputs:focus::placeholder {
    color: rgb(226, 37, 163);
    transition: all .4s;
}

.inputs:active {
    background-color: rgb(0, 0, 0);
    border: rgb(226, 37, 163) 2px solid;
    outline: rgb(226, 37, 163) 2px solid;
    transition: all .4s;
}

.btns {
    font-size: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    transition: all .4s;
    font-family: cursive;
}

.btns:hover {
    background-color: rgb(226, 37, 163);
    color: #fff;
    box-shadow: 2px 5px 15px rgba(226, 37, 163, 0.644);
    transition: all .4s;
}

.h-icons {
    width: 50px;
    height: 50px;
    margin-top: 11px;
    cursor: pointer;
}

.title {
    font-weight: 600;
    font-family: cursive;
}

.f-cursive {
    font-family: cursive;
}